@font-face {
  font-family: 'Lexend';
  src: url(fonts/Lexend-VariableFont_wght.ttf) format("truetype");
}

:root {
  /* Color variables */
  --color-primary: #00C2FF;
  --color-secondary: #00FF94;
  --color-accent: #FF00E5;
  --color-background: #282828;
  --color-text: #FFFFFF;

  /* Background color shades */
  --color-background-100: #1E1E1E;
  --color-background-200: #2A2A2A;
  --color-background-300: #363636;
  --color-background-400: #424242;

  /* Text color shades */
  --color-text-100: #E0E0E0;
  --color-text-200: #BDBDBD;
  --color-text-300: #757575;
  --color-text-400: #616161;

/* Size variables */
  font-size: 20px;
  --xxs: .25rem;
  --xs: .5rem;
  --sm: .75rem;
  --md: 1rem;
  --lg: 1.25rem;
  --xl: 1.5rem;
  --xxl: 2.5rem;

/* Font variables */
  --fss: 'Lexend', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  --h1: bold 1.5rem/.9em var(--fss);
  --h2: bold 1rem/.8em var(--fss);
  --h3: bold .75rem/.7em var(--fss);
  --h4: bold .5rem/.6em var(--fss);
  --big: 1rem/1.6em var(--fss);
  --p: .75rem/.9em var(--fss);
  --small: .75rem/1.8em var(--fss);
}

h1 {
  font: var(--h1);
  line-height: calc(1.5rem * 1.2);
}

h2 {
  font: var(--h2);
  line-height: calc(1rem * 1.4);
}

h3 {
  font: var(--h3);
  line-height: calc(.75rem * 1.6);
}

h4 {
  font: var(--h4);
  line-height: calc(.5rem * 1.8);
}

p {
  font: var(--p);
  line-height: calc(.75rem * 1.6) !important;
}

/* Reset box-sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Balance line breaks for headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/* Remove default margin and padding */
html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
}

/* Set core body defaults */
body {
  min-height: 100dvh;
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  background-color: var(--color-background);
  color: var(--color-text);
}

/* */
#root > div > div {
  width: 100%;
  height: 100%;
  overflow-y: auto;
}

.full-screen > div {
  min-height: 100vh;
  min-height: 100dvh;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
  padding: 0;
}

/* Enhance touch areas for interactive elements */
button,
input,
select,
textarea {
  padding: 0.5rem;
  margin: 0.25rem 0;
  border-radius: 0.25rem;
  border: 1px solid var(--color-primary);
}

input:focus,
select:focus {
  outline: 2px solid var(--color-secondary);
  outline-offset: 2px;
}

/* Simple button styles */
button {
  background-color: var(--color-primary);
  color: var(--color-text);
  border: none;
  cursor: pointer;
  font-size: var(--sm);
  padding: var(--xs);
}
/* Links */
a {
  color: var(--color-secondary);
  text-decoration: none;
}

/* Button and Link styles */

/* Button base styles */
.btn {
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s;
}

/* Primary Button */
.btn-primary {
  background-color: var(--color-primary);
  color: var(--color-background);
  border: none;
}


/* Secondary Button */
.btn-secondary {
  background-color: transparent;
  color: var(--color-secondary);
  border: 2px solid var(--color-secondary);
}


/* Tertiary Button */
.btn-tertiary {
  background-color: transparent;
  color: var(--color-text);
  border: 1px solid var(--color-text-300);
}


/* Link styles */
.link {
  text-decoration: none;
  font-weight: bold;
  transition: color 0.2s;
}

.link-primary {
  color: var(--color-primary);
}



.link-secondary {
  color: var(--color-secondary);
}


.link-tertiary {
  color: var(--color-text);
  text-decoration: underline;
}


/* Animations */

@keyframes pop {
  0% {
    transform: scale(1);
    /* Start at original size */
  }

  33% {
    transform: scale(0.85);
    /* Shrink to 85% */
  }

  66% {
    transform: scale(1.1);
    /* Return to original size */
  }

  100% {
    transform: scale(1);
    /* Return to original size */
  }
}


/* Media queries */

@media (hover: hover) {
  .btn-primary:hover {
    background-color: #00A8E6;
    /* Slightly darker shade of primary */
  }

  .btn-secondary:hover {
    background-color: var(--color-secondary);
    color: var(--color-background);
  }

  .btn-tertiary:hover {
    background-color: var(--color-background-300);
  }

  .link-primary:hover {
    color: #00A8E6;
    /* Slightly darker shade of primary */
  } 

  .link-secondary:hover {
    color: #00E085;
    /* Slightly darker shade of secondary */
  }

  .link-tertiary:hover {
    color: var(--color-text-200);
  }
}

@media (width <=768px) {

}

@media (width >= 414px) {

}