.achievements-container {
    padding: var(--xxs);
}

.achievement-group {
    margin-bottom: var(--md);
}

.achievement-group-title {
    font: var(--h2);
    color: var(--color-text);
    margin-bottom: var(--sm);
}

.achievement-list {
    display: flex;
    overflow-x: scroll;
    padding-bottom: var(--sm);
    scroll-snap-type: x mandatory;
    gap: var(--sm);
}

.achievement-card {
    flex: 0 0 auto;
    width: 250px;
    scroll-snap-align: start;
    background-color: var(--color-background-300);
    border: 1px solid var(--color-background-400);
    border-radius: var(--xs);
    padding: var(--md);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.achievement-card__title {
    font: var(--h3);
    color: var(--color-text);
    margin-bottom: var(--xxs);
}

.achievement-card__description {
    font: var(--p);
    color: var(--color-text-100);
    margin-bottom: var(--xs);
}

.achievement-card__xp-reward {
    font: var(--p);
    color: var(--color-secondary);
}

.achievement-card__date-earned {
    font: var(--p);
    color: var(--color-text-200);
}

.achievement-card__icon {
    width: 48px;
    height: 48px;
    float: right;
    margin-left: var(--xs);
}