.bottom-nav {
    height: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--xs) var(--xs) calc(var(--xs) + env(safe-area-inset-bottom));
    padding: var(--xs);
    border-top: var(--color-text-400) 1px solid;
}
.bottom-nav a {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: var(--xs);
    border-radius: var(--xs);
    border: 1px solid transparent;
}
.bottom-nav a svg {
    font-size: var(--lg);
}
.bottom-nav a.active {
    border: var(--color-primary) 1px solid;
    background-color: var(--color-background-400);
}
.bottom-nav a.active svg {
    animation: pop 0.25s forwards ease-in;
}
.bottom-nav a:focus {
    outline: none;
}