.bottom-nav {
    height: 70px;
    display: flex;
    justify-content: space-between;
    padding: var(--xs);
    border-top: var(--color-text-400) 2px solid;
}
.bottom-nav a {
    width: 52px;
    text-align: center;
    box-sizing: border-box;
    padding: var(--xs);
    border-radius: var(--xs);
    border: 1px solid transparent;
}
.bottom-nav a svg {
    font-size: var(--lg);
}
.bottom-nav a.active {
    border: var(--color-primary) 1px solid;
    background-color: var(--color-background-400);
}
.bottom-nav a.active svg {
    animation: pop 0.25s forwards ease-in;
}
.bottom-nav a:focus {
    outline: none;
}