.feed-container {
    display: flex;
    flex-direction: column;
    padding: var(--xxs);
    margin: 0 auto;
}

.feed-item {
    background-color: var(--color-background-300);
    border-radius: var(--xs);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: var(--md);
    margin-bottom: var(--md);
    display: flex;
    flex-direction: column;
}

.feed-item-header {
    display: flex;
    align-items: center;
    margin-bottom: var(--sm);
}

.user-avatar,
.tip-icon {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    margin-right: var(--sm);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-background-200);
    color: var(--color-text-300);
    font-size: 1.2rem;
}

.user-info {
    display: flex;
    flex-direction: column;
}

.username {
    font-weight: bold;
    font-size: var(--sm);
}

.timestamp {
    font-size: var(--sm);
    color: var(--color-text-200);
}

.feed-item-content {
    margin-bottom: var(--sm);
}

.achievement-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.achievement-info {
    flex: 1;
}

.achievement-info h3 {
    font-size: var(--h3);
    margin-top: var(--xxs);
}

.achievement-info p {
    font: var(--p);
    font-size: 0.9rem;
    margin: var(--xxs) 0;
}

.achievement-image-placeholder {
    width: 80px;
    height: 80px;
    background-color: var(--color-background-200);
    border-radius: var(--xs);
}

.tip-content {
    border-radius: var(--xs);
    padding: var(--xs);
}

.tip-content p {
    font-size: 0.9rem;
    margin-bottom: var(--xxs);
}

.tip-category {
    font-size: 0.9rem;
    color: var(--color-text-200);
}

.feed-item-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: var(--sm);
}
.feed-item-footer.end {
    justify-content: flex-end;
}

.congratulate-button {
    background-color: var(--color-primary);
    color: var(--color-text-100);
    border: none;
    border-radius: var(--xxs);
    padding: var(--xs) var(--sm);
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: var(--xxs);
    font: var(--h3)
}

.congratulate-button.congratulated {
    background-color: var(--color-text-400);
}

.congratulate-button:disabled {
    background-color: var(--color-text-400);
    cursor: not-allowed;
}

.congratulations-count {
    display: flex;
    align-items: center;
    gap: var(--xxs);
    color: var(--color-text-200);
    transition: transform 0.3s ease;
}

.congratulations-count.animate {
    animation: jumpAnimation 0.3s ease;
}

.congratulations-count svg {
    font-size: 1rem;
}
.congratulations-count span {
    font: var(--p);
}

@keyframes jumpAnimation {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-5px);
    }

    100% {
        transform: translateY(0);
    }
}