.full-screen-layout main {
    padding: var(--sm);
    height: calc(100% - 8%);
    overflow-y: auto;
}
.full-screen-layout main h2 {
    padding: 0 0 var(--sm);
}

.full-screen-layout main h3 {
    padding: var(--xxs) 0;
}