.habit-card {
    width: 100%;
    background-color: var(--color-background-100);
    border: 1px solid var(--color-background-400);
    border-radius: 0.5rem;
    padding: 1rem;
    margin-bottom: 1rem;
    cursor: pointer;
}

.habit-card.tracked {
    cursor: default;
}

.habit-card__title {
    font-size: var(--h3);
    margin-bottom: var(--xxs);
}

.habit-card__description {
    color: var(--color-text-200);
    font-size: var(--sm);
    margin-bottom: 0.5rem;
}

.habit-card__details {
    font-size: 0.875rem;
    margin-bottom: 0.5rem;
}

.habit-card__actions {
    display: flex;
    justify-content: space-between;
    /* only for the delete button in dev */
    flex-wrap: wrap;
}

.habit-card__button {
    background-color: var(--color-primary);
    color: var(--color-text-light);
    border: none;
    border-radius: 0.25rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
}

.habit-card__button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}
.habit-card__tracked,
.habit-card__reactivate {
    display: flex;
    align-items: center;
}
.habit-card__tracked p,
.habit-card__reactivate p {
    font-size: var(--md);
}
.habit-card__tracked svg,
.habit-card__reactivate svg {
    padding-right: var(--xs);
}
.habit-card__tracked svg {
    color: var(--color-secondary);
}
.habit-card__reactivate svg {
    color: var(--color-primary);
}