.main-layout {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main-layout main {
    padding: var(--sm);
    height: calc(100% - 18%);
    overflow-y: scroll;
}

.main-layout main h2 {
    margin: var(--xs) 0 var(--md);
}