.password-strength-meter {
    margin-top: 10px;
}

.strength-meter {
    height: 5px;
    transition: width 0.5s ease-in-out, background-color 0.5s ease-in-out;
}

.password-strength-meter p {
    margin-top: 5px;
    font-size: 0.8em;
}