.profile-layout {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.profile-layout main {
    height: calc(100% - 12%);
    overflow-y: scroll;
}
.profile-layout.friend-profile main {
    height: calc(100% - 8%);
}

.profile-layout.friend-profile .top-bar .title {
    font-size: var(--md);
    line-height: var(--lg);
}

.profile-layout.friend-profile .profile-avatar-container {
    padding-top: 66.67%;
}

.profile-layout.friend-profile .private-profile-message {
    padding: var(--lg) 0
}