.top-bar {
    display: grid;
    grid-template-columns: 1.5rem 1fr 1.5rem;
    justify-items: center;
    height: 8%;
    padding: var(--xs) var(--sm);
    border-bottom: var(--color-text-400) 2px solid;
}

.top-bar svg {
    font-size: var(--lg);
}

.top-bar h1 {
    font-size: var(--lg);
    line-height: normal;
}

.top-bar h2 {
    line-height: 1.6rem;
}

.top-bar .left-action {
    cursor: pointer;
    min-width: 30px;
}

.top-bar .right-action .text-button {
    color: var(--color-primary);
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 500;
}